<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="ConditionVisitorFactory" type="Sluren.Decision.ConditionVisitorFactory, Sluren.Decision"/>
		<container>
			<register type="ConditionVisitorFactory" mapTo="ConditionVisitorFactory">
				<lifetime type="ContainerControlledLifetimeManager"/>
			</register>
		</container>
	</unity>
</configuration>
